---
- name: Create namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ showroom_namespace }}"

- name: Create PVC for Showroom storage
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: "{{ showroom_app_name }}-pvc"
        namespace: "{{ showroom_namespace }}"
      spec:
        accessModes:
          - ReadWriteOnce  # Only one Pod can write at a time
        resources:
          requests:
            storage: 5Gi   # 1 Gigabyte is plenty for docs

- name: Deploy Showroom application
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: "{{ showroom_app_name }}"
        namespace: "{{ showroom_namespace }}"
      spec:
        replicas: 1
        selector:
          matchLabels:
            app: "{{ showroom_app_name }}"
        template:
          metadata:
            labels:
              app: "{{ showroom_app_name }}"
          spec:
            containers:
              - name: engine
                image: "{{ showroom_antora_image }}"
                env:
                  - name: NPM_CONFIG_CACHE
                    value: /tmp/.npm
                ports:
                  - containerPort: 8080
                volumeMounts:
                  - name: content-vol
                    mountPath: /antora
            volumes:
              - name: content-vol
                persistentVolumeClaim:
                  claimName: "{{ showroom_app_name }}-pvc"

- name: Wait for Pod to be Running
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: "{{ showroom_namespace }}"
    label_selectors:
      - "app={{ showroom_app_name }}"
  register: pod_list
  until: 
    - pod_list.resources | length > 0
    - pod_list.resources[0].status.phase == "Running"
  retries: 20
  delay: 10

- name: Set Pod name variable
  set_fact:
    target_pod_name: "{{ pod_list.resources[0].metadata.name }}"

- name: Prepare PVC for Antora
  kubernetes.core.k8s_exec:
    namespace: "{{ showroom_namespace }}"
    pod: "{{ target_pod_name }}"
    command: >-
      /bin/sh -c "rm -rf /antora/* /antora/.[!.]* && git init /antora && git config --global user.email 'you@example.com' && git config --global user.name 'Your Name'"

- name: Sync files/content to the Pod's PVC
  kubernetes.core.k8s_cp:
    namespace: "{{ showroom_namespace }}"
    pod: "{{ pod_list.resources[0].metadata.name }}"
    local_path: "{{ role_path }}/files/antora_root/"
    remote_path: "/antora/"
    state: to_pod

- name: Create service
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: "{{ showroom_app_name }}"
        namespace: "{{ showroom_namespace }}"
      spec:
        selector:
          app: "{{ showroom_app_name }}"
        ports:
          - port: 8080
            targetPort: 8080

- name: Create Openshift Route
  kubernetes.core.k8s:
    state: present
    definition: 
      apiVersion: route.openshift.io/v1
      kind: Route
      metadata:
        name: "{{ showroom_app_name }}"
        namespace: "{{ showroom_namespace }}"
      spec:
        to:
          kind: Service
          name: "{{ showroom_app_name }}"
        port:
          targetPort: 8080
        tls:
          termination: edge

- name: Wait for Deployment to be Ready
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    name: "{{ showroom_app_name }}"
    namespace: "{{ showroom_namespace }}"
  register: deploy_res
  until: 
    - deploy_res.resources[0].status.availableReplicas is defined
    - deploy_res.resources[0].status.availableReplicas | int > 0
  retries: 120  
  delay: 10

- name: Get Route URL
  kubernetes.core.k8s_info:
    api_version: route.openshift.io/v1
    kind: Route
    name: "{{ showroom_app_name }}"
    namespace: "{{ showroom_namespace }}"
  register: route_res

- name: Output Application URL
  debug:
    msg: "The Showroom is live at: https://{{ route_res.resources[0].spec.host }}"
